h1 {
    font-size: 32px !important;
}

h2 {
    font-size: 28px !important;
}

h3 {
    font-size: 24px !important;
}

h4 {
    font-size: 20px !important;
}

h5 {
    font-size: 16px !important;
}

pre code {
    padding: 8px !important;
    line-height: 1.2rem !important;
}

h1, h2, h3 {
    font-weight: 400;
    margin-top: 20px;
    line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

body {
    font-size: 14px;
    line-height: 1.628571429;
}

code {
    font-size: 12px !important;
}

.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a {
    font-weight: normal !important;
    /*background-color: #eee;*/
    display: block;
    padding: 5px 20px;
    z-index: 1;
}

.bg-primary {
    background-color: #333 !important;
}

.bg-primary .dropdown-menu {
    background-color: #333 !important;
    padding: 0;
}

.navbar {
    padding: 0.2rem 1rem !important;
}
#navbar-brand{
    font-weight: bold !important;
}